{% extends 'base.j2' %}
{% block title%}Devices{% endblock %}
{% block content %}
<i class="fa fa-brands fa-linux"></i>
<!-- Devices Canvas -->
<div class="table-responsive">
<table id="table" class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Hostname</th>
            <th>Address</th>
            <th>Last Online</th>
            <th>Connection Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for device in devices %}
        <tr class="dark-background">
            <td>{{ device.id }}</td>
            <td>{{ device.name }}</td>
            <td>{{ device.hostname }}</td>
            <td>{{ device.address }}</td>
            <td>{{ device.last_online }}</td>
            <td>{{ device.connection_date }}</td>
            <td>
                <button type="button" class="btn btn-warning"> Manage </button>
                <button class="btn btn-warning" onclick="createEdit({{ device.id -1 }})"><i class="material-icons">edit</i></button>
                <button class="btn btn-danger" onclick="deleteListener({{ device.id }})"><i class="material-icons">delete</i></button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<!-- Edit Modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true"
    id="edit-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content dark-background">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit listener</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="edit-modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" onclick="sendEdit()">Save changes</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    let devices = [
        {% for device in devices %}
        device.to_json(commander, False, False)
        {% endfor %}
    ];
</script>
<script src="/static/js/devices.js"></script>
{% endblock %}