{% extends 'base.html' %}
{% block title %}
Phoenix-Framework | Home
{% endblock %}
{% block head %}
<link rel="stylesheet" href="static/css/index.css">
{% endblock %}

{% block body %}
<p>Listeners: {{listeners|length}}</p>
<p>Stagers: {{stagers|length}}</p>
<p>Devices: {{devices | length}}</p>
{% endblock %}
