{% extends 'base.j2' %}
{% block title%}Phoenix-Framework | Listeners{% endblock %}
{% block content %}

<table id="table" class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Port</th>
            <th>Type</th>
            <th>SSL</th>
            <th>Enabled</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for listener in listeners %}
        <tr class="dark-background" id="listener-{{ listener.id }}">
            <td id="name-{{ listener.id }}">{{ listener.name }}</td>
            <td id="address-{{ listener.id }}">{{ listener.address }}</td>
            <td id="port-{{ listener.id }}">{{ listener.port }}</td>
            <td id="type-{{ listener.id }}">{{ listener.type }}</td>
            {% if listener.ssl %}
            <td id="ssl-{{ listener.id }}">✅</td>
            {% else %}
            <td id="ssl-{{ listener.id }}">❌</td>
            {% endif %}
            {% if listener.enabled %}
            <td id="enabled-{{ listener.id }}">✅</td>
            {% else %}
            <td id="enabled-{{ listener.id }}">❌</td>
            {% endif %}
            <td>
                <button class="btn btn-warning"><i class="material-icons">edit</i></button>
                <button class="btn btn-danger" onclick="deleteListener({{ listener.id }})"><i class="material-icons">delete</i></button>
                {% if listener.is_active(commander) %}
                <button class="btn btn-danger" onclick="stopListener({{ listener.id }})"><i class="material-icons">stop</i></button>
                <button class="btn btn-success" onclick="restartListener({{ listener.id }})"><i class="material-icons">restart_alt</i></button>
                {% else %}
                <button class="btn btn-success" onclick="startListener({{ listener.id }})"><i class="material-icons">play_arrow</i></button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- Button trigger modal -->
<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalLong"
    onclick="resetModal()">
    Create a new listener
</button>

<!-- Create Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true" id="create">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content dark-background">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Create a new listener</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="create-modal-body">
                <form id='create-form' action='/listeners/add' method='POST' onsubmit="sendCreate()">
                    <div class="form-group">
                        <label for="type" class="bmd-label-floating">Listener Type</label>
                        <select class="form-control" id="type" onchange="changeCreateType()">
                            {% for listener_type in listener_options %}
                            <option value="{{ listener_type }}">{{ listener_type }}</option>
                            {% endfor %}
                            <option value="custom">Test</option>

                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true" id="edit">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content dark-background">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit listener LISTENER</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="edit-modal-body">
                <form id="edit-form">
                    <div class="form-group">
                        <label for="type" class="bmd-label-floating">Listener Type</label>
                        <select class="form-control" id="type">
                            {% for listener_type in listener_options %}
                            <option value="{{ listener_type }}">{{ listener_type }}</option>
                            {% endfor %}
                            <option value="custom">Test</option>

                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- hidden forms for diffrent listener types -->
<!-- loop over all listener types -->
{% for listener_type in listener_options %}
<!-- create a form for each listener type -->
<form id="{{ listener_type }}-form" style="display: none;" target="/listeners/create">
    <!-- hidden type field -->
    <input type="hidden" name="type" value="{{ listener_type }}">
    {% for option in listener_options[listener_type] %}
    {% if option.type == "checkbox" %}
    <div class="form-check">
        <label class="form-check-label">
            {% if option.default %}<input class="form-check-input" type="checkbox" name="{{ option.name }}" checked="">
            {% else %}<input class="form-check-input" type="checkbox" name="{{ option.name }}">
            {% endif %}
            {{ option.name }}
            <span class="form-check-sign">
                <span class="check"></span>
            </span>
        </label>
    </div>
    <br>
    {% elif option.type == "address" %}
    <div class="form-group">
        <label for="{{ option.real_name }}">{{ option.name }}</label>
        <select class="form-control" id="{{ option.real_name}}">
            {% for interface in network_interfaces %}
            <option value="{{ interface }}">{{ interface }}: {{ network_interfaces[interface] }}</option>
            {% endfor %}
        </select>
        <small class="form-text text-muted">{{ option.description }}</small>
    </div>
    {% elif option.type == "port" %}
    <div class="form-group">
        <label for="{{ option.real_name }}">{{ option.name }}</label>
        <input min="1" max="65535" type="number" class="form-control" id="{{ option.real_name }}" value="{{ option.default }}" name="{{ option.real_name }}">
        <small class="form-text text-muted">{{ option.description }}</small>
    </div>
    {% elif option.type == "table" %}
    <div class="form-group">
        <label for="{{ option.real_name }}" class="bmd-label-floating">{{ option.name }}</label>
        <select class="form-control" id="{{ option.real_name}}">
            {% for object in option.type.choices%}
            <option value="{{ object.real_name }}-{{ object.id }}">{{ object.name }}</option>
            {% endfor %}
        </select>
        <small id="{{ option.real_name }}-description" class="form-text text-muted">{{ option.description }}</small>
    </div>
    {% else %}
    <div class="form-group">
        <label for="{{ option.real_name }}">{{ option.name }}</label>
        {% if option.required %}
        <input name="{{option.real_name}}" type="{{ option.type }}" class="form-control" id="{{ option.real_name }}"
            value="{{ option.default }}" required>
        {% else %}
        <input name="{{option.real_name}}" type="{{ option.type }}" class="form-control" id="{{ option.real_name }}"
            value="{{ option.default }}">
        {% endif %}
        <small id="{{ option.real_name }}-description" class="form-text text-muted">{{ option.description }}</small>
    </div>
    {% endif %}
    {% endfor %}
</form>
{% endfor %}
{% endblock %}
{% block scripts %}
<script src="/static/js/listeners.js"></script>
{% endblock %}
