{% extends 'base.j2' %}
{% block title%}Users{% endblock %}
{% block content %}
<div class="table-responsive">
<table id="table" class="table table-striped">
    <thead>
        <tr>
            <th>ID<th>
            <th>Status</th>
            <th>Profile Picture</th>
            <th>Username</th>
            <th>Admin</th>
            <th>Disabled</th>
            <th>Last Activity</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr class="dark-background">
            <td id="id-{{ user.id }}">{{ user.id }}</td>
            {% if user.activity_status == 'online' %}
            <td id="active-{{ user.id }}"><i title="Online" class="material-icons" style="color: green; margin-top: 4px;">circle</i></td>
            {% elif user.activity_status == 'inactive' %}
            <td id="active-{{ user.id }}"><i title="Inactive" class="material-icons" style="color: orange; margin-top: 4px;">circle</i></td>
            {% else %}
            <td id="active-{{ user.id }}"><i title="Offline" class="material-icons" style="color: red; margin-top: 4px;">circle</i></td>
            {% endif %}
            <td id="profile-picture-{{user.id}}"><img src="{{ user.profile_picture }}" alt="/static/images/icon.png" class="profile-picture"></td>
            <td id="username-{{user.id}}">{{ user.username }}</td>
            {% if user.admin %}
            <td id="admin-{{ user.id }}"><i class="material-icons">done</i></td>
            {% else %}
            <td id="admin-{{ user.id }}"><i class="material-icons">close</i></td>
            {% endif %}
            {% if user.disabled %}
            <td id="disabled-{{ user.id }}"><i class="material-icons">done</i></td>
            {% else %}
            <td id="disabled-{{ user.id }}"><i class="material-icons">close</i></td>
            {% endif %}
            <td id="last-activity-{{ user.id }}">{{ user.last_activity }}</td>
            <td>
                <button class="btn btn-warning" onclick="createEdit({{ user.id -1 }})"><i class="material-icons">edit</i></button>
                <button class="btn btn-danger" onclick="deleteUser({{ user.id }})"><i class="material-icons">delete</i></button>
            </td>
        </tr>
        {% endfor %}

    </tbody>

</table>

{% endblock %}