{% extends 'base.j2' %}
{% from 'macros.j2' import render_user %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">dns</i>
                    </div>
                    <p class="card-category">Connected devices</p>
                    <h3 class="card-title">{{ active_devices }}</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">open_in_new</i>
                        <a class="text-warning" href="/devices">Manage devices</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">earbuds</i>
                    </div>
                    <p class="card-category">Active listeners</p>
                    <h3 class="card-title">{{ active_listeners }}</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">open_in_new</i>
                        <a class="text-warning" href="/listeners">Manage Listeners</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">group</i>
                    </div>
                    <p class="card-category">Users active</p>
                    <h3 class="card-title">{{ active_users }}</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">open_in_new</i>
                        <a class="text-warning" href="/users">Manage users</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">route</i>
                    </div>
                    <p class="card-category">Connections last hour</p>
                    <h3 class="card-title">{{ connections_last_hour }}</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">{{ connections_today }} connections today.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-warning">
                    <h4 class="card-title">Devices</h4>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <th>ID</th>
                            <th>Hostname</th>
                            <th>Address</th>
                            <th>Last online</th>
                            <th>Manage</th>
                        </thead>
                        <tbody>
                            {% if not devices|length %}
                                <tr>
                                    <td>Nothing to see here.</td>
                                </tr>
                            {% endif %}
                            {% for device in devices %}
                                <tr>
                                    <td>{{ device.id }}</td>
                                    <td>{{ device.hostname }}</td>
                                    <td>{{ device.address }}</td>
                                    <td>{{ format_datetime(device.last_online)}}</td>
                                    {% if device.connected %}
                                        <td>
                                            <a href="devices/{{ device.id }}">
                                                <button class="btn btn-success">Manage</button>
                                            </a>
                                        </td>
                                    {% else %}
                                        <td>
                                            <a href="devices/{{ device.id }}">
                                                <button class="btn btn-danger">Manage</button>
                                            </a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-warning">
                    <h4 class="card-title">Operations</h4>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <th>
                                ID
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Expires
                            </th>
                            <th>
                                Owner
                            </th>
                            <th>
                                Users
                            </th>
                            <th>
                                Manage
                            </th>
                        </thead>
                        <tbody>
                            {% if not operations|length %}
                                <tr>
                                    <td>
                                        Nothing to see here.
                                    </td>
                                </tr>
                            {% endif %}
                            {% for operation in operations %}
                                <tr>
                                    <td>
                                        {{ operation.id }}
                                    </td>
                                    <td>
                                        {{ operation.name }}
                                    </td>
                                    <td>
                                        {{ format_datetime(operation.expiry)}}
                                    </td>
                                    <td>
                                        {{ render_user(operation.owner) }}
                                    </td>
                                    {% if not operation.users|length %}
                                        <td>
                                            None
                                        </td>
                                    {% else %}
                                        <td>
                                            {% for user in operation.users %}{{ render_user(user) }}{% endfor %}
                                        </td>
                                    {% endif %}
                                    <td>
                                        <a href="operations/{{ operation.id }}">
                                            <button class="btn btn-success">
                                                Manage
                                            </button>
                                        </a>
                                    </td>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% if not active_listeners %}
                <div class="card card-nav-tabs">
                    <div class="card-header card-header-warning">
                        Suggestion
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            Create or start your first listener.
                        </h4>
                        <a href="/listeners" class="btn btn-danger">Create listener</a>
                    </div>
                </div>
            {% endif %}
        {% endblock %}
