{% extends 'base.j2' %}
{% block title %}Devices{% endblock %}
{% block content %}
    <!-- Devices Canvas -->
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Active</th>
                    <th>Name</th>
                    <th>Hostname</th>
                    <th>Address</th>
                    <th>Os</th>
                    <th>Architecture</th>
                    <th>User</th>
                    <th>Last Online</th>
                    <th>Connection Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for device in devices %}
                    <tr class="dark-background">
                        <td>{{ device.id }}</td>
                        {% if device.connected %}
                            <td id="active-{{ device.id }}">
                                <i title="Connected"
                                   class="material-icons"
                                   style="color: green;
                                          margin-top: 4px">circle</i>
                            </td>
                        {% else %}
                            <td id="active-{{ device.id }}">
                                <i title="Offline"
                                   class="material-icons"
                                   style="color: red;
                                          margin-top: 4px">circle</i>
                            </td>
                        {% endif %}
                        <td>{{ device.name }}</td>
                        <td>{{ device.hostname }}</td>
                        <td>{{ device.address }}</td>
                        {% if device.os|lower == "windows" %}
                            <td>
                                <i class="fa fa-brands fa-windows"></i> {{ device.os }}
                            </td>
                        {% elif device.os|lower == "linux" %}
                            <td>
                                <i class="fa fa-brands fa-linux"></i> {{ device.os }}
                            </td>
                        {% elif device.os|lower == "macos" %}
                            <td>
                                <i class="fa fa-brands fa-apple"></i> {{ device.os }}
                            </td>
                        {% else %}
                            <td>{{ device.os }}</td>
                        {% endif %}
                        <td>{{ device.architecture }}</td>
                        {% if device.admin %}
                            <td>
                                {{ device.user }} <i title="Admin"
    class="material-icons"
    style="color: red;
           margin-top: 4px">verified_user</i>
                            </td>
                        {% else %}
                            <td>{{ device.user }}</td>
                        {% endif %}
                        <td>{{ format_datetime(device.last_online)}}</td>
                        <td>{{ format_datetime(device.connection_time) }}</td>
                        <td>
                            <button type="button" class="btn btn-warning">Manage</button>
                            <button class="btn btn-warning" onclick="createEdit({{ device.id -1 }})">
                                <i class="material-icons">edit</i>
                            </button>
                            <button class="btn btn-danger" onclick="clearDevice({{ device.id }})">
                                <i class="material-icons">delete</i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if devices|length  %}
            <button class="btn btn-danger" onclick="clearDevice('all')">Clear inactive devices</button>
        {% endif %}
    </div>
    <!-- Edit Modal -->
    <div class="modal fade"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLongTitle"
         aria-hidden="true"
         id="edit-modal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content dark-background">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Edit device</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="edit-modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" onclick="sendEdit()">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
    let devices = [
        {% for device in devices %}        {{ to_json(device, commander) }},{% endfor %}
    ];
    </script>
    <script src="/static/js/devices.js"></script>
{% endblock %}
