{% macro render_options(options) -%}
{% for option in options %}
{% if not option.render %}
{% elif option.type|string == "checkbox" %}
<div class="form-check">
    <label class="form-check-label">
        {% if option.default %}
        <input class="form-check-input" type="checkbox" value="on" name="{{ option.real_name }}" checked=""
            id="{{ option.real_name }}-create">
        {% else %}
        <input class="form-check-input" type="checkbox" value="on" name="{{ option.real_name }}"
            id="{{ option.real_name }}-create">
        {% endif %}
        {{ option.name }}
        <span class="form-check-sign">
            <span class="check"></span>
        </span>
    </label>
    {# Add a hidden value for the checkbox if it is not checked #}
    <input class="form-check-input" type="hidden" name="{{ option.real_name }}" value="off">
</div>
<br>
{% elif option.type|string == "address" %}
<div class="form-group">
    <label for="{{ option.real_name }}">{{ option.name }}</label>
    <input list="{{ option.real_name }}-create-datalist" type="text" class="form-control" name="{{ option.real_name }}"
        id="{{ option.real_name }}-create" value="{{ option.default if option.default }}">
    <datalist id="{{ option.real_name }}-create-datalist">
        {% for interface in option.type.interfaces %}
        <option id="{{ option.type.interfaces[interface] }}-{{ option.real_name }}-create" value="{{ interface }}">
            {{ interface }}: {{ option.type.interfaces[interface] }}
        </option>
        {% endfor %}
        <small class="form-text text-muted">{{ option.description }}</small>
    </datalist>
</div>
{% elif option.type|string == "port" %}
<div class="form-group">
    <label for="{{ option.real_name }}">{{ option.name }}</label>
    <input min="1" max="65535" type="number" class="form-control" id="{{ option.real_name }}-create"
        value="{{ option.default if option.default }}" name="{{ option.real_name }}">
    <small class="form-text text-muted">{{ option.description }}</small>
</div>
{% elif option.type|string == "select" %}
<div class="form-group">
    <label for="{{ option.real_name }}">{{ option.name }}</label>
    <select class="form-control" id="{{ option.real_name }}-create" name="{{ option.real_name }}">
        {% for choice in option.type.choices %}
        {% if choice == option.default %}
        <option id="{{ choice }}-{{ option.real_name }}-create" value="{{ choice }}" selected>
            {{ choice }}
        </option>
        {% else %}
        <option id="{{ choice }}-{{ option.real_name }}-create" value="{{ choice }}">
            {{ choice }}
        </option>
        {% endif %}
        {% endfor %}
    </select>
    <small class="form-text text-muted">{{ option.description }}</small>
</div>
{% elif option.type|string == "table" %}
<div class="form-group">
    <label for="{{ option.real_name }}" class="bmd-label-floating">{{ option.name }}</label>
    <select class="form-control" id="{{ option.real_name }}-create" name="{{ option.real_name }}">
        {% for object in option.type.choices %}
        <option value="{{ object.real_name }}-{{ object.id }}">
            {{ object.name }}
        </option>
        {% endfor %}
    </select>
    <small id="{{ option.real_name }}-description" class="form-text text-muted">{{ option.description }}</small>
</div>
{% else %}
<div class="form-group">
    <label for="{{ option.real_name }}">{{ option.name }}</label>
    {% if option.required %}
    <input name="{{ option.real_name }}" type="{{ option.type }}" class="form-control"
        id="{{ option.real_name }}-create" value="{{ option.default if option.default }}" required>
    {% else %}
    <input name="{{ option.real_name }}" type="{{ option.type }}" class="form-control"
        id="{{ option.real_name }}-create" value="{{ option.default if option.default }}">
    {% endif %}
    <small id="{{ option.real_name }}-description" class="form-text text-muted">{{ option.description }}</small>
</div>
{% endif %}
{% endfor %}
{%- endmacro %}

{% macro render_features(features) -%}
{# show list of features if they are pro or not #}
<div class="card">
    <ul class="list-group list-group-flush">
        {% for feature in features %}
        {% if feature.pro %}
        <li class="list-group-item">✅ {{ feature.name }}: {{ feature.description }}</li>
        {% else %}
        <li class="list-group-item">❌ {{ feature.name }}: {{ feature.description }}</li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{%- endmacro %}

{% macro render_user(user) -%}
<a href="/users/{{ user.id }}" target="_blank">
    <img class="profile-picture" src="/users/{{ user.id }}/picture" alt="{{ user }}" data-toggle="tooltip"
        data-placement="top" title="{{ user }}">
</a>
{%- endmacro %}