{% extends "base.j2" %}
{% from "macros.j2" import render_user %}
{% block title %}
    Modules
{% endblock title %}
{% block content %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Language</th>
                    <th>Admin required</th>
                </tr>
            </thead>
            <tbody>
                {% for module in modules %}
                    {# set the row class based on the status #}
                    <tr class=" dark-background">
                        <td>{{ module.name }}</td>
                        <td>{{ module.description }}</td>
                        <td>{{ module.language }}</td>
                        {% if module.admin %}
                            <td>✅</td>
                        {% else %}
                            <td>❌</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}