recursive-include phoenix_framework *
recursive-exclude phoenix_framework/Server/Data/Downloads/ *
recursive-exclude phoenix_framework/Server/Data/Uploads/ *
recursive-exclude phoenix_framework/Server/Data/Stagers/ *
exclude phoenix_framework/Server/Data/db.sqlite3
exclude phoenix_framework/Server/Data/ssl.*
recursive-exclude * __pycache__
recursive-exclude * *.py[co]