include phoenix_framework/pf* 
recursive-include phoenix_framework/server *
recursive-include phoenix_framework/client *
recursive-exclude phoenix_framework/server/data/downloads/ *
recursive-exclude phoenix_framework/server/data/uploads/ *
recursive-exclude phoenix_framework/server/data/stagers/ *
exclude phoenix_framework/server/data/db.sqlite3
exclude phoenix_framework/server/data/ssl.*
recursive-exclude * __pycache__
recursive-exclude * *.py[co]