{% extends 'base.j2' %}
{% from 'macros.j2' import render_options %}
{% block title%}Stagers{% endblock %}
{% block content %}
<div class="table-responsive">
<table id="table" class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Listener</th>
            <th>Type</th>
            <th>Payload</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for stager in stagers %}
        <tr class="dark-background" id="stager-{{ stager.id }}">
            <td id="id-{{ stager.id }}">{{ stager.id }}</td>
            <td id="name-{{ stager.id }}">{{ stager.name }}</td>
            <td id="listener-{{ stager.id }}"><a href="/listeners/?open={{ stager.listener.id }}">{{ stager.listener.name }}</a></td>
            <td id="type-{{ stager.id }}">{{ stager.listener.type }}</a></td>
            <td id="payload_type-{{ stager.id }}">{{ stager.payload_type_type }}</a></td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-success" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="material-icons">download</i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" target="_blank" href="/stagers/{{stager.id}}/download?one_liner=false">Download</a>
                        <a class="dropdown-item" target="_blank" href="/stagers/{{stager.id}}/download?one_liner=true">Download as command</a>
                        <a class="dropdown-item" onclick="copyToClipboard({{stager.id}}, false)" href="#">Copy to clipboard (https)</a>
                        <a class="dropdown-item" copyToClipboard({{stager.id}}, true) href="#">Copy to clipboard as command (https)</a>
                        {% if stager.payload_class.is_compiled and stager.payload_class.compiled %}
                        <a class="dropdown-item" href="#">Recompile</a>
                        {% endif %}
                    </div>
                </div>
                <button data-toggle="tooltip" data-placement="top" title="Edit stager" class="btn btn-warning" onclick="createEdit({{ stager.id -1 }})"><i class="material-icons">edit</i></button>
                <button data-toggle="tooltip" data-placement="top" title="Delete stager"class="btn btn-danger" onclick="deleteStager({{ stager.id }})"><i class="material-icons">delete</i></button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{# Button trigger modal #}
<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#create-modal"
    onclick="resetModal()">
    Create a new stager
</button>

{# Create Modal #}
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true" id="create-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content dark-background">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Create a new stager</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="create-modal-body">
                <form id='create-form' action='/stagers/add' method='POST' onsubmit="sendCreate()">
                    <div class="form-group">
                        <label for="type">Listener</label>
                        <select name="listener" class="form-control" id="listener" onchange="changeListener()">
                            {% for listener in listeners %}
                            <option value="{{ listener.id }}">{{ listener.name }}: {{listener.type}}</option>
                            {% endfor %}
                            {% if listeners|length == 0 %}
                            <option value="0">No listeners available</option>
                            {% endif %}
                        </select>
                        <small class="form-text text-muted">The type of stager to create.</small>
                    </div>
                    <div id="create-form-content">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input type='button' id='create-button' onclick='sendCreate()' value='Create' class='btn btn-success' />
                <input type='reset' value='Reset' class='btn btn-danger' />
            </div>
        </div>
    </div>
</div>

{# Edit Modal #}
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true" id="edit-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content dark-background">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit stager</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="edit-modal-body">
                <form id='edit-form' action='/stagers/edit' method='POST' onsubmit="sendCreate()">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="edit-button" class="btn btn-success" onclick="sendEdit()">Save changes</button>
            </div>
        </div>
    </div>
</div>
{# hidden forms for diffrent stager types #}
{# loop over all stager types #}

{% for stager_type in stager_types %}
{# create a form for each stager type #}
<form id="{{ stager_type.name }}-form" style="display: none;" target="/stagers/create">
    {# hidden type field #}
    <input type="hidden" name="id" id="id-create" value="none">
    {{ render_options(stager_type.options.options) }}
    <div class="form-group">
        <label for="payload_type">Payload</label>
        <select class="form-control" id="payload_type-create" name="payload_type" onchange="changePayload('create')">
            {% set option = stager_type.options.get_option("payload_type") %}
            {% for payload_type in option.options %}
            {% if payload_type == option.default  %}
            <option id="{{payload_type}}-payload_type-create" value="{{ payload_type }}" selected>{{ payload_type }}</option>
            {% else %}
            <option id="{{payload_type}}-payload_type-create" value="{{ payload_type }}">{{ payload_type }}</option>
            {% endif %}
            {% endfor %}
        </select>
        <small class="form-text text-muted">{{ option.description }}</small>
        <div id="payload_type-options-create">
        </div>
    </div>
    {# show author of the stager #}
    <p class="text-muted">Created by: {{ stager_type.author }}</p>
</form>

{# divs for the payload_types which will be injected into the create/edit modal #}
{% for payload_type in stager_type.payload_types %}
<div id="{{ stager_type.name }}-{{ payload_type }}-payload_type" style="display: none;">
    {# hidden type field #}
    {{ render_options(stager_type.payload_types[payload_type].options.options) if stager_type.payload_types[payload_type].options.options }}
    {# show author of the payload_type #}
    <p class="text-muted">Created by: {{ stager_type.payload_types[payload_type].author }}</p>
</div>
{% endfor %}
{% endfor %}
{% endblock %}
{% block scripts %}
<script>
    let stagers = [
        {% for stager in stagers %}
        {{ to_json(stager, commander, True) }},
        {% endfor %}
    ];
    let stager_types = {
        {% for stager_type in stager_types %}
        "{{ stager_type.name }}": {{ to_json(stager_type, commander) }},
        {% endfor %}
    };
    let listeners = [
        {% for listener in listeners %}
        {{ to_json(listener, commander) }},
        {% endfor %}
    ];
</script>
<script src="/static/js/stagers.js"></script>
{% if opened_stager %}
<script>createEdit({{ opened_stager.id -1 }});</script>
{% endif %}
{% endblock %}
